# Created by https://www.gitignore.io/controller/java
# Edit at https://www.gitignore.io/?templates=java

### Java ###
# Log file
*.log

/out

/.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.gitignore.io/controller/java
