

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body {
   font-family: "Open Sans", sans-serif;
   color: #efefef;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
}

.space {
   clear: both;
}

.space-10 {
   clear: both;
   width: 100%;
   height: 10px;
}

.space-20 {
   clear: both;
   width: 100%;
   height: 20px;
}

.space-30 {
   clear: both;
   width: 100%;
   height: 30px;
}

h1,
h2,
h3,
h4 {
   font-weight: 300;
   padding-bottom: 0.5em;
}

.wrapper {
   width: 100%;
   padding: 0 30px;
   margin: 0 auto;
}

.row {
   margin: 0 -25px;
}
.col {
   float: left;
   min-height: 1px;
   padding: 0 25px;
}

.xs-col-hide {
   display: none;
}
.xs-col-show {
   display: block;
}
.xs-col-10 {
   width: 10%;
}
.xs-col-20 {
   width: 20%;
}
.xs-col-25 {
   width: 25%;
}
.xs-col-30 {
   width: 30%;
}
.xs-col-33 {
   width: 33.3333%;
}
.xs-col-40 {
   width: 40%;
}
.xs-col-50 {
   width: 50%;
}
.xs-col-60 {
   width: 60%;
}
.xs-col-66 {
   width: 66.66666%;
}
.xs-col-70 {
   width: 70%;
}
.xs-col-80 {
   width: 80%;
}
.xs-col-90 {
   width: 90%;
}
.xs-col-100 {
   width: 100%;
}

@media (min-width: 600px) {
   .wrapper {
      padding: 0 50px;
   }
   .s-col-hide {
      display: none;
   }
   .s-col-show {
      display: block;
   }
   .s-col-10 {
      width: 10%;
   }
   .s-col-20 {
      width: 20%;
   }
   .s-col-25 {
      width: 25%;
   }
   .s-col-30 {
      width: 30%;
   }
   .s-col-33 {
      width: 33.3333%;
   }
   .s-col-40 {
      width: 40%;
   }
   .s-col-50 {
      width: 50%;
   }
   .s-col-60 {
      width: 60%;
   }
   .s-col-66 {
      width: 66.66666%;
   }
   .s-col-70 {
      width: 70%;
   }
   .s-col-80 {
      width: 80%;
   }
   .s-col-90 {
      width: 90%;
   }
   .s-col-100 {
      width: 100%;
   }
}

@media (min-width: 900px) {
   .wrapper {
      width: 80%;
   }
   .m-col-hide {
      display: none;
   }
   .m-col-show {
      display: block;
   }
   .m-col-10 {
      width: 10%;
   }
   .m-col-20 {
      width: 20%;
   }
   .m-col-25 {
      width: 25%;
   }
   .m-col-30 {
      width: 30%;
   }
   .m-col-33 {
      width: 33.3333%;
   }
   .m-col-40 {
      width: 40%;
   }
   .m-col-50 {
      width: 50%;
   }
   .m-col-60 {
      width: 60%;
   }
   .m-col-66 {
      width: 66.66666%;
   }
   .m-col-70 {
      width: 70%;
   }
   .m-col-80 {
      width: 80%;
   }
   .m-col-90 {
      width: 90%;
   }
   .m-col-100 {
      width: 100%;
   }
}

@media (min-width: 1400px) {
   .wrapper {
      width: 1000px;
   }
   .l-col-hide {
      display: none;
   }
   .l-col-show {
      display: block;
   }
   .l-col-10 {
      width: 10%;
   }
   .l-col-20 {
      width: 20%;
   }
   .l-col-25 {
      width: 25%;
   }
   .l-col-30 {
      width: 30%;
   }
   .l-col-33 {
      width: 33.3333%;
   }
   .l-col-40 {
      width: 40%;
   }
   .l-col-50 {
      width: 50%;
   }
   .l-col-60 {
      width: 60%;
   }
   .l-col-66 {
      width: 66.66666%;
   }
   .l-col-70 {
      width: 70%;
   }
   .l-col-80 {
      width: 80%;
   }
   .l-col-90 {
      width: 90%;
   }
   .l-col-100 {
      width: 100%;
   }
}

@media (min-width: 1600px) {
   .wrapper {
      width: 1200px;
   }
   .xl-col-hide {
      display: none;
   }
   .xl-col-show {
      display: block;
   }
   .xl-col-10 {
      width: 10%;
   }
   .xl-col-20 {
      width: 20%;
   }
   .xl-col-25 {
      width: 25%;
   }
   .xl-col-30 {
      width: 30%;
   }
   .xl-col-33 {
      width: 33.3333%;
   }
   .xl-col-40 {
      width: 40%;
   }
   .xl-col-50 {
      width: 50%;
   }
   .xl-col-60 {
      width: 60%;
   }
   .xl-col-66 {
      width: 66.66666%;
   }
   .xl-col-70 {
      width: 70%;
   }
   .xl-col-80 {
      width: 80%;
   }
   .xl-col-90 {
      width: 90%;
   }
   .xl-col-100 {
      width: 100%;
   }
}

/* Customer CSS */

body {
   background-color: #192275;
}

#header {
   position: relative;
}

#header .bg {
   background-image: url(https://images.pexels.com/photos/273886/pexels-photo-273886.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

   background-size: cover;
   background-position: bottom center;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Karlsruhe-Schloss-meph666-2005-Apr-22.jpg);
   background-position: center 30%;
   padding-top: 300px;
}

#header .logo-outer {
   position: absolute;
   top: 0px;
   width: 100%;
}

#header .logo {
   background-color: #fff;
   width: 200px;
   height: 200px;
   margin: 60px auto 0;
   border-radius: 300px;
   box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.6);
   background-image: url();
   background-position: center;
   background-size: 320px;
   border: 10px solid #fff;
}

#header .logo2 {
   background-color: #fff;
   width: 200px;
   height: 200px;
   margin: 60px auto 0;
   display: block;
   border-radius: 300px;
   box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.6);
   border: 10px solid #fff;
}
#header .logo2 path {
   fill: #131e78;
}

#nav {
   margin: 40px 0 60px;
}
#nav .name {
   font-size: 30px;
   float: left;
   text-align: center;
   width: 100%;
   margin-bottom: 20px;
}
#nav .name span {
   font-size: 12px;
}
#nav ul {
   list-style-type: none;
   float: right;
   width: 100%;
   margin-bottom: 30px;
}
#nav ul.close {
   display: none;
}
#nav ul li a {
   padding: 10px 20px;
   border-bottom: 2px solid #2d39b2;
   display: block;
   width: 100%;
   text-align: center;
}

#nav ul li a:hover {
   background-color: #fff;
   color: #2d39b2;
   cursor: pointer;
   border-bottom: 2px solid #fff;
}

#nav .burger {
   width: 50px;
   height: 46px;
   margin: 0 auto;
   cursor: pointer;
   background-color: #2d39b2;
   padding: 15px 13px;
   border-radius: 6px;
}
#nav .burger hr {
   border: 0px;
   height: 2px;
   background-color: #fff;
   width: 100%;
   margin-bottom: 5px;
}

#nav .burger.close hr:nth-child(1) {
   transform: translateY(7px) rotate(45deg);
}

#nav .burger.close hr:nth-child(2) {
   transform: rotate(-45deg);
}

#nav .burger.close hr:nth-child(3) {
   display: none;
}

#main {
   margin: 60px 0 60px;
}

#main img {
   width: 60%;
   max-width:400px;

   border: 6px solid #fff;
   border-radius: 2px;
   
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

#main img.alignleft {
   float: left;
   margin: 0 30px 15px 0;
   transform: rotate(-1deg);
}

#main img.alignright {
   float: right;
   margin: 0 0 15px 30px;
   transform: rotate(1deg);
}

.bruecke {
   fill: none;
   stroke: #ffffff;
   stroke-width: 2;
   stroke-miterlimit: 10;
}
.text {
   fill: #ffffff;
   font-size: 20px;
}
.text-klein {
   fill: #ffffff;
   font-size: 10px;
}

#footer {
   padding: 0 0 60px;
   background-color: #fff;
   color: #2d39b2;
}

@media (min-width: 1400px) {
   #nav .name {
      margin: 0px;
      width: auto;
      padding: 17px 0 0;
   }
   #nav ul {
      width: 450px;
      margin: 0px;
   }
   #nav ul.close {
      display: block;
   }
   #nav ul li {
      margin-left: 4px;
      float: left;
   }
   #nav ul li:nth-child(1) a,
   #nav ul li:nth-child(2) a,
   #nav ul li:nth-child(3) a {
      padding: 10px 33px;
   }
   #nav ul li:nth-child(4) a {
      padding: 10px 28px;
   }
   #nav .burger {
      display: none;
   }
}

@media (min-width: 1600px) {
   #nav .name {
      font-size: 45px;
      padding: 18px 0 0;
   }
   #nav .name span {
      line-height: 58px;
   }
   #nav ul {
      width: 520px;
   }
   #nav ul li a {
      padding: 10px 30px;
   }
   #nav ul li:nth-child(1) a,
   #nav ul li:nth-child(2) a,
   #nav ul li:nth-child(3) a {
      padding: 10px 45px;
   }
   #nav ul li:nth-child(4) a {
      padding: 10px 33px;
   }
}
